<a href="./project.php" class="transition-link thumb project-thumb">
	<div class="ratio-container">
		<div class="cover-area">
	    {% if content == 'video' %}
		    <video class="cover" data-object-fit="cover" autoplay loop muted playsinline>
		      <source src="{{ td }}/assets/images/meadow.mp4" type="video/mp4">
		    </video>
		  {% else %}
		    <img class="cover" data-object-fit="cover" src="{{ td }}/assets/images/2000-1000.jpg" />
		  {% endif %}
		</div>
	</div>
	{% if hideInfo != true %}
		<div class="thumb-info">
			<h3>Project Title</h3>
			<p>Branding, Packaging</p>
		</div>
	{% endif %}
</a>