<section class="clipped-section no-top-space no-bottom-space">
	<div class="clip">
		{% include 'partials/header.twig' with { 'logo': 'false', 'style': 'inverted' } %}
	</div>
	<img src="{{ td }}/assets/images/2000-1200.jpg">
</section>