<section class="large-text-block margined">
	<div class="container very-narrow extra-spaced">
		<div class="medium">
			{% if content %}
				<p>{{ content }}</p>
			{% endif %}
		</div>
	</div>
</section>