<section class="recipe-directions">
	<div class="container">
		<div class="float-grid">
			<div class="col-4">
				<h4 class="h3 recipe-header">Ingredients</h4>
				<hr/>
				<ul class="lg-list">
					{% for ingredient in block.ingredients %}
						<li><p>{{ ingredient.text }}</p></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-8">
				<h4 class="h3 recipe-header">Preparation</h4>
				<hr/>
				<ol>
					{% for step in block.steps %}
					<li>
						<div class="float-grid break-lg">
							<div class="col-3">
								<h5 class="p bold light-text-color">Step {{ loop.index }}</h5>
							</div>
							<div class="col-9">
								<p>{{ step.text }}</p>
							</div>
						</div>
					</li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
</section>