<section class="margined">
	<div class="container">
		<div class="inline-grid break-lg">
			<div class="col-6 small-section-title">
				{% if title %}<h3 class="p light-text-color">{{ title }}</h3>{% endif %}
			</div>
			<div class="col-6">
				{% if content %}<p>{{ content }}</p>{% endif %}
			</div>
		</div>
	</div>
</section>