<section class="margined">
	<div class="container">
		<div class="inline-grid middle">
			<div class="col-6">
				<img src="{{ td }}/assets/images/1200-800.jpg">
			</div>
			<div class="col-6">
				<img src="{{ td }}/assets/images/1200-800.jpg">
			</div>
		</div>
	</div>
</section>