<section class="margined">
	<div class="container">
		<div class="inline-grid break-lg">
			<div class="col-6 small-section-title">
				{% if block.title %}<h3 class="p light-text-color">{{ block.title }}</h3>{% endif %}
			</div>
			<div class="col-6">
				{% if block.text %}{{ block.text }}{% endif %}
			</div>
		</div>
	</div>
</section>