<section class="margined">
	<div class="container">
		<img src="{{ td }}/assets/images/2000-1200.jpg">
		{% if caption %}
			<p class="caption">Subtle patterned paper to create a cohesive experience and a striking first impression uppon opening the gift.</p>
		{% endif %}
	</div>
</section>