{% extends "base.twig" %}
{% set body_class = 'push-down travel-page' %}
{% set footer = 'false' %}

{% block content %}

	<section class="grey no-top-space no-bottom-space">
		<div class="section-header">
			<div class="container">
				<div class="flex-grid baseline">
					<div class="col-3 align-left">
						<a class="prev-link" href="#">Previous Cat</a>
					</div>
					<div class="col-6">
						<h1 class="h3 large-title">Travel</h1>
					</div>
					<div class="col-3 align-right">
						<a class="next-link" href="#">Next Cat</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container no-bottom-space">
			<div class="inline-grid project-grid">
				{% for item in posts | slice(0, 4) %}
					<div class="col-6 right">
						{% include 'components/article-thumb.twig' %}
					</div>
				{% endfor %}

				{% for item in posts | slice(4, 10) %}
					<div class="col-4 right">
						{% include 'components/article-thumb.twig' %}
					</div>
				{% endfor %}
			</div>

			{% set remaining_posts = posts | slice(4, 10) %}
			{% if remaining_posts.length %}
				<div class="more-cta">
					<div class="container">
						{% include 'components/button.twig' 
							with {
								'buttonClass': 'large transition-link',
								'buttonText': 'More Travel',
								'buttonLink': globals.path ~ '/#'
							} only
						%}
					</div>
				</div>
			{% endif %}
		</div>
	</section>

	{% include 'partials/super-footer.twig' 
		with {
			'video' : options.callout_video_background,
			'image' : options.callout_background_image,
			'video_url' : get_field('callout_background_video', 'options'),
			'title' : options.callout_title,
			'text' : options.callout_text,
			'buttonText' : options.callout_link_text,
			'buttonExternal' : options.callout_external_link_type,
			'buttonLink' : options.callout_link,
			'buttonExternalLink' : options.callout_external_link
		} only
	%}

{% endblock %}{# end content #}