{% extends "base.twig" %}
{% set body_class = 'push-down travel-page' %}
{% set footer = 'false' %}
{% set nextLink = random(side_links) %}
{% set prevLink = random(side_links) %}

{% block content %}

	<section class="grey no-top-space no-bottom-space">
		<div class="section-header">
			<div class="container">
				<div class="flex-grid baseline">
					<div class="col-3 align-left">
						<a class="prev-link" href="{{ prevLink.link }}">Previous Cat</a>
					</div>
					<div class="col-6">
						<h1 class="h3 large-title">{{ title }}</h1>
					</div>
					<div class="col-3 align-right">
						<a class="next-link" href="{{ nextLink.link }}">Next Cat</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container no-bottom-space">
			{% if title == 'Photo Essays' %}
				<div class="inline-grid project-grid">
					{% for item in posts %}
						<div class="col-4 right">
							{% include 'components/article-list-thumb.twig' %}
						</div>
					{% endfor %}
				</div>
			{% elseif title == 'Food' %}
				<div class="inline-grid recipe-list project-grid">
					{% for item in posts | slice(0, 4) %}
						<div class="col-12 right">
							{% include 'components/recipe-thumb.twig' %}
						</div>
					{% endfor %}
				</div>
				<div class="inline-grid project-grid">
					{% for item in posts | slice(4, 100) %}
						<div class="col-4 right">
							{% include 'components/article-thumb.twig' %}
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="inline-grid project-grid">
					{% for item in posts | slice(0, 4) %}
						<div class="col-6 right">
							{% include 'components/article-thumb.twig' %}
						</div>
					{% endfor %}

					{% for item in posts | slice(4, 100) %}
						<div class="col-4 right">
							{% include 'components/article-thumb.twig' %}
						</div>
					{% endfor %}
				</div>
			{% endif %}

			{#% set remaining_posts = posts | slice(4, 100) %}
			{% if remaining_posts.length %}
				<div class="more-cta">
					<div class="container">
						{% include 'components/button.twig' 
							with {
								'buttonClass': 'large transition-link',
								'buttonText': 'More Travel',
								'buttonLink': globals.path ~ '/#'
							} only
						%}
					</div>
				</div>
			{% endif %#}

			<div class="more-cta after-list">
				{#<div class="container">
					{% include 'components/button.twig' 
						with {
							'buttonClass': 'large transition-link',
							'buttonText': 'More Photo Essays',
							'buttonLink': globals.path ~ '/#'
						} only
					%}
				</div>#}
			</div>

		</div>
	</section>

	{% include 'partials/super-footer.twig' 
		with {
			'video' : options.callout_video_background,
			'image' : options.callout_background_image,
			'video_url' : get_field('callout_background_video', 'options'),
			'title' : options.callout_title,
			'text' : options.callout_text,
			'buttonText' : options.callout_link_text,
			'buttonExternal' : options.callout_external_link_type,
			'buttonLink' : options.callout_link,
			'buttonExternalLink' : options.callout_external_link
		} only
	%}

{% endblock %}{# end content #}