.menu-wrap {
	height: 0;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	overflow: visible;
	z-index: 99;
	.hang-right {
		position: absolute;
		right: -18px;
		width: 60px;
		height: 60px;
		@include respond($lg) {
			position: absolute;
			right: -$margin;
			width: $margin;
		}
		.menu-toggle {
			width: 60px;
			height: 60px;
			display: block;
			position: fixed;
			top: 0;
			background: transparent;
			@include respond($lg) {
				width: $margin;
				height: $margin;
			}
		}
	}
	&:hover {
		.menu {
			transform: translate3d(calc(-100%), 0, 0);
		}
	}
	.menu {
		width: 16rem;
		max-width: 100%;
		color: rgba($white, .5);
		@include respond($md) {
			text-align: right;
		}
		@include respond($huge) {
			width: 30%;
		}
		position: fixed;
		top: 0;
		left: calc(100%);
		bottom: 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		background: $black;
		z-index: 2;
		display: flex;
		flex-direction: column;
		padding: $mobile-margin 10%;
		transition: transform $slow-speed $ease;
		@include respond($md) {
			padding: 2.5rem 3rem 2rem;
		}
		.nav {
			flex-grow: 1;
			flex-shrink: 0;
			@include font-smooth();
			li {
				margin: 0;
				a {
					display: block;
					font-size: 1.25rem;
					color: currentcolor;
					padding: .5rem 0;
					font-weight: $light;
					// @include respond($md) {
					// 	padding: .85rem 0;
					// }
					&:hover {
						color: $bg-color;
					}
				}
			}
		}
		.contact-info {
			flex-shrink: 0;
			flex-grow: 0;
			a {
				@include small-caps();
				color: currentcolor;
				&:hover {
					color: $white;
				}
			}
		}
	}
}