.ui-kit {
	overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .example {
    *[class^="col"] {
      margin-bottom: $gutter;
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='number'],
  input[type='password'],
  .select-wrap,
  textarea {
    margin-bottom: 1rem;
  }

  .kit-block {
  	background: rgba($text-color, .1);
    background: rgb(242, 242, 242);
  	padding: 2rem;
  	min-height: 8rem;
  	display: flex;
  	align-items: center;
  	justify-content: center;
    border-radius: 4px;
    font-size: $md-font-size;
    color: $light-text-color;
    &.tall {
      min-height: 12rem;
    }
    &.short {
      padding: 0;
      min-height: 2.5rem;
    }
  }

  .kit-desc {
    padding-top: .25rem;
    padding-bottom: 2rem;
    p {
      font-size: $md-font-size;
    }
    code {
      font-size: $md-font-size;
      font-family: 'Source Code Pro', monospace;
    }
  }

	.code {
		font-family: 'Roboto Mono', monospace;
		font-size: 12px;
	}

	.ui-tabs {
		margin-bottom: $gutter;
	}

	section {
		margin: $margin 0;
		position: relative;
		z-index: 1;
    .section-info {
      margin-bottom: 2rem;
      .container {
        padding-top: $base-line-height;
        border-top: $hr-styles;
        border-top-color: $text-color;
      }
      &.sub-section {
        .container {
          border-top: $hr-styles;   
        }
      }
      p {
        code {
          background: rgba($text-color, .1);
          border-radius: $base-border-radius;
          padding: .05em .3em .2em;
          font-family: 'Source Code Pro', monospace;
        }
      }
    }
	}

}