<section id="flex-grid">
	<div class="section-info sub-section">
		<div class="container">
			<div class="float-grid">
				<div class="col-6">
					<h4>Flex Grid</h4>
				</div>
				<div class="col-6 rich-text">
					<p>Wrap the row in <code>.flex-grid</code> and its children in <code>.col-#</code> or just <code>.col</code> for more control.</p><h6>Look ma! No pushing.</h6>
					<p>The nice thing about the flex grid, other than being able to use other flex behavior, is that there is no pushing column necessary to get them to align to the outter edges. This is the dafault behavior of our flex-grid.</p>
					<p>Add a class of <code>.center</code>, <code>.right</code> or <code>.left</code> to the container to horizontally align the columns.</p>
					<p>Add a class of <code>.middle</code>, <code>.bottom</code> or <code>.baseline</code> to the container to vertically align the columns.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="flex-grid bottom example">
			<div class="col-4"><div class="kit-block">col-4</div></div>
			<div class="col-5"><div class="kit-block short">col-5</div></div>
			<div class="col-2"><div class="kit-block tall">col-2</div></div>
			<div class="col-2"><div class="kit-block">col-2</div></div>
			<div class="col-2"><div class="kit-block tall">col-2</div></div>
			<div class="col-2"><div class="kit-block">col-2</div></div>
			<div class="col-3"><div class="kit-block short">col-3</div></div>
			<div class="col-3"><div class="kit-block">col-3</div></div>
			<div class="col-4"><div class="kit-block">col-4</div></div>
			<div class="col-4"><div class="kit-block tall">col-4</div></div>
			<div class="col-7"><div class="kit-block">col-7</div></div>
			<div class="col-6"><div class="kit-block">col-6</div></div>
			<div class="col-4"><div class="kit-block tall">col-4</div></div>
		</div>
	</div>
</section>