<section id="float-grid">
	<div class="section-info sub-section">
		<div class="container">
			<div class="float-grid">
				<div class="col-6">
					<h4>Float Grid</h4>
				</div>
				<div class="col-6">
					<p>A standard solid floating grid. Wrap the row in .float-grid and its children in <code>.col-#</code> or just <code>.col</code> for more control.</p>
					<p>Add a class of <code>.right</code> or <code>.left</code> to float the column in either direction. Great for staggering content a seen in the <a href="#">example</a> below.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="float-grid example">
			<div class="col-12">
				<div class="kit-block short">col-12</div>
			</div>
			<div class="col-11">
				<div class="kit-block short">col-11</div>
			</div>
			<div class="col-1">
				<div class="kit-block short">col-1</div>
			</div>
			<div class="col-10">
				<div class="kit-block short">col-10</div>
			</div>
			<div class="col-2">
				<div class="kit-block short">col-2</div>
			</div>
			<div class="col-9">
				<div class="kit-block short">col-9</div>
			</div>
			<div class="col-3">
				<div class="kit-block short">col-3</div>
			</div>
			<div class="col-8">
				<div class="kit-block short">col-8</div>
			</div>
			<div class="col-4">
				<div class="kit-block short">col-4</div>
			</div>
			<div class="col-7">
				<div class="kit-block short">col-7</div>
			</div>
			<div class="col-5">
				<div class="kit-block short">col-5</div>
			</div>
			<div class="col-6">
				<div class="kit-block short">col-6</div>
			</div>
			<div class="col-6">
				<div class="kit-block short">col-6</div>
			</div>
		</div>
	</div>
</section>