<section id="inline-grid">
	<div class="section-info sub-section">
		<div class="container">
			<div class="float-grid">
				<div class="col-6">
					<h4>Inline Grid</h4>
				</div>
				<div class="col-6">
					<p>Wrap the row in <code>.inline-grid</code> and its children in <code>.col-#</code> or just <code>.col</code> for more control.</p>
					<p>Add a class of <code>.center</code> or <code>.right</code> to the container to horizontally align the columns.</p>
					<p>Add a class of <code>.middle</code> or <code>.bottom</code> to the container to vertically align the columns.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="inline-grid middle center example">
			<div class="col-4 push-right-1"><div class="kit-block tall">col-4.push-right-1</div></div>
			<div class="col-3"><div class="kit-block">col-3</div></div>
			<div class="col-4"><div class="kit-block short">col-4</div></div>
			<div class="col-5"><div class="kit-block">col-5</div></div>
			<div class="col-5"><div class="kit-block tall">col-5</div></div>
			<div class="col-4"><div class="kit-block tall">col-4</div></div>
			<div class="col-4 push-left-1"><div class="kit-block short">col-4.push-left-1</div></div>
			<div class="col-3"><div class="kit-block">col-3</div></div>
			<div class="col-5"><div class="kit-block">col-5</div></div>
			<div class="col-4"><div class="kit-block tall">col-4</div></div>
		</div>
	</div>
</section>