<section id="buttons">
	<div class="section-info">
		<div class="container">
			<div class="float-grid">
				<div class="col-6">
					<h3>Inputs</h3>
					<p>Buttons act the same whether they are <code>button</code> elements, <code>a.button</code>, or just have a class of <code>.button</code></p>
				</div>
				<div class="col-6 rich-text">
					<h6 class="light-text-color">Text Inputs</h6>
					<input type="text" class="large" placeholder="Input Large" />
					<input type="text" placeholder="Input Default" />
					<input type="text" class="small" placeholder="Input Small" />
					<input type="text" class="tiny" placeholder="Input Tiny" />
					<textarea placeholder="Textarea" ></textarea>
					<hr>
					<h6 class="light-text-color">Selects</h6>
					<div class="select-wrap">
						<select type="text" class="large" placeholder="Placeholder" >
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
						</select>
					</div>
					<div class="select-wrap">
						<select type="text" placeholder="Placeholder" >
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
						</select>
					</div>
					<div class="select-wrap">
						<select type="text" class="small" placeholder="Placeholder" >
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
						</select>
					</div>
					<div class="select-wrap">
						<select type="text" class="tiny" placeholder="Placeholder" >
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">

	</div>
</section>