.home-page {
	.featured-grid {
		*[class^="col-"],
		.col {
			margin-bottom: $mobile-margin;
			.thumb {
				@include respond($md) {
					margin-bottom: 3rem;
				}
			}
			@include respond($md) {
				margin-bottom: 0;
			}
			&.large-thumb {
				@include respond($md) {
					width: 100%;
				}
				@include respond($lg) {
					width: 66.666%;
					float: left;
				}
			}
			&.small-thumb {
				@include respond($md) {
					width: 50%;
				}
				@include respond($lg) {
					width: 33.333%;
					float: right;
				}
			}
		}
	}
}