<div class="container menu-wrap">
	<div class="hang-right">
		<a class="menu-toggle"></a>
	</div>
	<div class="menu">
		<ul class="nav">
			<li>
				<a
					href="./features.php"
					class="transition-link"
				>Features</a></li>
			<li>
				<a
					href="./travel.php"
					class="transition-link"
				>Travel</a></li>
			<li>
				<a
					href="./food.php"
					class="transition-link"
				>Food</a></li>
			<li>
				<a
					href="./photo-essays.php"
					class="transition-link"
				>Photo Essays</a></li>
			<li>
				<a
					href="http://sailingcollective.com/journeys"
					target="_blank"
				>Journeys</a></li>
		</ul>
		<div class="contact-info">
			<ul>
				<li><a href="{{ globals.facebookUrl }}">Facebook</a></li>
				<li><a href="{{ globals.instagramUrl }}">Instagram</a></li>
				<li><a href="{{ globals.twitterUrl }}">Twitter</a></li>
				<li><a href="mailto:{{ globals.generalEmail }}">Contact</a></li>
			</ul>
		</div>
	</div>
</div>